extends layout 

block content
    section.section-white
        h1.fw-bold
            i.fas.fa-thumbs-up.me-2
            | Admin oldal
        hr

        if users
            for user in users
                .container
                    form#delete-form(action="/admin/" + user.id + "/delete", method="POST").col-sm
                        img(src='/images/profiles/' + user.profile, alt='logo').pb-4.me-2.avatarkep
                        a(href=makeUserUrl(user) style="font-size: 20px; margin-right: 10px;")= user.name
                        input(id="delete-btn" type="submit" value="x" title="Törlés").btn-sm.btn.btn-danger.gomb
                        br

        else 
            p(style="font-style: italic;").text-muted Nincsenek felhasználók!

    div(style="margin-bottom:500px;")
