extends layout 

block content
    section
        h1.text-center.p-3.fw-bold.text-white Rólunk
        .container.h-100
            .row.d-flex.justify-content-center.align-items-center
                .col-xl-8
                    .card.rounded-3.text-black.bg-light
                        .row.g-0

                            .col-lg-6.pt-5.p-2
                                h1.felkover Név: Máté
                                h3 Foglalkozása: természetfotós
                                h3 Szenvedélye: fűnyírás
                                h3 Kedvenc tárgya: testnevelés
                                h3 Kedvenc étel: mitraillette
                                h3 Fedőneve: Ispán
                                h3 Kedvenc film: Ip Man
                            .col-lg-6.d-flex.align-items-center.p-2
                                img.rolunkkep(src='images/mate.jpg')
