extends layout 

block content 
    section.section-white
        h1.fw-bold
            i.fas.fa-calendar.me-2
            | Események
        hr

        if events.length!=0
            .text-center
                for event in events
                    include part_event_li
        else 
            p(style="font-style: italic;").text-muted Nem találtunk eseményeket amiket a barátaid hirdettek meg

    div(style="margin-bottom:500px;")
