extends layout 

block content 
    main.section-white
        h1.ms-3.mt-3.fw-bold
            i.fas.fa-calendar.me-2
            | Esemény szerkesztése
        hr

        div(class="container-fluid")
            .row
                form(action="/event/"+event.id+"/edit", method="POST", class="col-4")
                    label(for="name") Az esemény neve:
                    input(type="text", name="name", placeholder="Az esemény neve", required="ture", value=event.name).form-control.mb-2

                    label(for="text") Az esemény leírása:
                    textarea(type="text", name="text", placeholder="Az esemény leírása", required="ture", rows="4").form-control.mb-2= event.text

                    label(for="place") Az esemény helyszine:
                    input(type="text", name="place", placeholder="Az esemény helyszine", required="ture", value=event.place).form-control.mb-2

                    br
                    input(type="submit", name="submit" value="Módosítások mentése").btn.btn-primary

            hr

            .row
                form(action="/event/" + event.id + "/delete", method="POST", class="col-4")
                    input(type="submit", name="submit" value="Esemény törlése").btn.btn-outline-danger
                    br
                    span.small.text-muted Figyelem! A művelet nem vonható vissza!
    
    div(style="margin-bottom:500px;")
