extend layout

block content
    .pe-5.ps-5.pt-2
        if user
            section
                h2.text-center.p-3.felkover.feher Üdvözöllek 
                    span= user.name
                    span !
                .container
                    .row.d-flex.justify-content-center.align-items-center.pb-5
                        .col-xl-10
                            .card.rounded-3.text-black.bg-light
                                .row.g-0
                                    .col-lg-12
                                        h1.p-2 Posztolj!
                                        .container.pb-3.col-xl-11
                                            textarea(name="publikusposzt", rows="5" placeholder="Ide azt írsz, amit akarsz").form-control.lmfao.textareadetails.rounded
                                        input(type="submit", name="submitpost" value="Posztolás").btn.btn-primary.btn-lg.m-2
                    .row.d-flex.justify-content-center.align-items-center
                        .col-xl-10
                            .card.rounded-3.text-black.bg-light
                                .row.g-0
                                    .col-lg-12.p-2.pt-4
                                        for post in posts
                                            .container.hatter.rounded-3.mb-3
                                                .container.border-bottom.divfont.p-1
                                                    img(src='images/profiles/avatar1.png', alt='logo').avatarkep
                                                    p.felkover.inlineblock.ps-1=post.name
                                                .container.divfont.pt-1.ps-3
                                                    p= post.message   


        //if !user
            br
            a(href="/login").mt-5.ml-5 Bejelentkezés
            br
            a(href="/register").mt-5.ml-5 Regisztráció
        
        //if user
            br
            a(href=makeUserUrl(user)).mt-5.ml-5 Saját profilom
            br
            a(href="/user/settings").mt-5.ml-5 Fehlasználó beállítások
            br
            a(href="/search").mt-5.ml-5 Keresés
            br
            a(href="/user/friends").mt-5.ml-5 Barátok
            br
            a(href="/logout").mt-5.ml-5 Kijelentkezés
