extend layout

block content
    .pe-5.ps-5.pt-2
        if user
            section
                h2.text-center.p-3.text-white Üdvözöllek 
                    span.nice-text(style="text-shadow: 0 0 5px rgb(200, 200, 200, 0.1);")= user.name
                    span !
                .container
                    .row.d-flex.justify-content-center.align-items-center
                        .col-xl-10
                            .card.rounded-3.text-black.bg-light(style="margin-bottom: 0px; margin-top: 10px;")
                                .row.g-0
                                    .col-lg-12
                                        h1.p-2.fw-bold.text-left
                                            i.fas.fa-align-center.me-2.fw-bold
                                            | Posztolj!
                                        .container.pb-3.col-xl-11
                                            form(method="POST", action="/chat/" + user.id + "/public_post")
                                                textarea(name="text", rows="4" placeholder="Ide azt írsz, amit szeretnél" required="true").form-control.lmfao.textareadetails.rounded
                                                .row
                                                    .col-sm
                                                        .row.me-1
                                                            button(type="submit", name="submitpost").btn.btn-primary.btn-lg.m-2
                                                                i.fas.fa-pencil-alt.me-2
                                                                | Posztolás
                                                    //.col-sm
                                                        .row.ms-1
                                                            button(type="submit", name="submitpost").btn.btn-secondary.btn-lg.m-2
                                                                i.fas.fa-pencil-alt.me-2
                                                                | Esetleg más?
                    
                    if user_recs && user_recs.length != 0
                        .row.d-flex.justify-content-center.align-items-center.mt-2
                            .col-xl-10
                                .card.rounded-3.text-black.bg-light
                                    h2.fw-bold.mb-2
                                        i.fas.fa-users.me-2
                                        | Kit ismerhetek?
                                    
                                    ul#user-recs.horizontal-list
                                        for user in user_recs
                                            li
                                                include part_user_box

                    if posts.length != 0
                        .row.d-flex.justify-content-center.align-items-center.mt-2
                            .col-xl-10
                                .card.rounded-3.text-black.bg-light(style="margin-top: 0px;")
                                    .row.g-0
                                        .col-lg-12.p-2.pt-4
                                            for post in posts
                                                include part_post


    div(style="margin-bottom:500px;")

    script.
        (() => {
            "use strict";
            let scrollTime = 20000;

            setTimeout(() => {
                setInterval(() => {
                    let width = $('#user-recs').width();
                    $('#user-recs').animate({scrollLeft: width}, scrollTime);
                    $('#user-recs').animate({scrollLeft: -width}, scrollTime);
                }, 100);
            }, 100);
        })();
