extend layout

block content
    .ps-5.pe-5.pt-2
        if user
            section
                h2.text-center.p-3.felkover.feher Üdvözöllek 
                    span= user.name
                    span !
                .container
                    .row.d-flex.justify-content-center.align-items-center
                        .col-xl-12
                            .card.rounded-3.text-black.bg-light
                                .row.g-0
                                    .col-lg-12.p-2.pt-4
                                        h3 Publikus posztok:
                                            for post in posts 
                                                .container
                                                    p= post.name
                                                .container
                                                    p= post.message

        //if !user
            br
            a(href="/login").mt-5.ml-5 Bejelentkezés
            br
            a(href="/register").mt-5.ml-5 Regisztráció
        
        //if user
            br
            a(href=makeUserUrl(user)).mt-5.ml-5 Saját profilom
            br
            a(href="/user/settings").mt-5.ml-5 Fehlasználó beállítások
            br
            a(href="/search").mt-5.ml-5 Keresés
            br
            a(href="/user/friends").mt-5.ml-5 Barátok
            br
            a(href="/logout").mt-5.ml-5 Kijelentkezés
