extend layout

block content
    .ps-5.pe-5.pt-2
        if user
            h2 Üdvözöllek 
                span= user.name
                span !
            br

        //if !user
            br
            a(href="/login").mt-5.ml-5 Bejelentkezés
            br
            a(href="/register").mt-5.ml-5 Regisztráció
        
        //if user
            br
            a(href=makeUserUrl(user)).mt-5.ml-5 Saját profilom
            br
            a(href="/user/settings").mt-5.ml-5 Fehlasználó beállítások
            br
            a(href="/search").mt-5.ml-5 Keresés
            br
            a(href="/user/friends").mt-5.ml-5 Barátok
            br
            a(href="/logout").mt-5.ml-5 Kijelentkezés
