doctype html
html(lang='en')
    head
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(http-equiv='content-type', content='text/html; charset=utf-8')
        meta(charset='UTF-8')
        meta(name='description', content='Celebrate Together: Ünnepeljétek együtt a szülinapjaitokat! Határok nélküli ünneplés!')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='application-name', content='Celebrate Together')
        meta(name='keywords', content='celebrate-together,celebrate,together,birthday,birthdays')
        meta(name='description', content='Celebrate Together: Ünnepeljétek együtt a szülinapjaitokat! Határok nélküli ünneplés!')
        //link(rel='canonical', href='')
        //meta(property='og:url', content='')
        meta(property='og:type', content='website')
        meta(property='og:title', content= title)
        meta(property='og:description', content='Celebrate Together: Ünnepeljétek együtt a szülinapjaitokat! Határok nélküli ünneplés!')
        title= title
        link(rel='icon', href='/images/icon.png')
        link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
        link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', rel='stylesheet', type='text/css')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css', rel='stylesheet', type='text/css')
        link(href='/css/index.css', rel='stylesheet', type='text/css')
        link(rel="stylesheet", href="css/index.css")
        block styles
    body
        block content
        
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js')
        script(defer='', src='https://use.fontawesome.com/releases/v5.0.8/js/all.js')
        script#cookieinfo(type='text/javascript', src='//cookieinfoscript.com/js/cookieinfo.min.js')
        script(src="js/index.js")
        block scripts
