extend layout

block styles
    link(href='/css/form.css?v=1', rel='stylesheet', type='text/css')

block content
    section.h-100
        .container.py-5.h-100
            .row.d-flex.justify-content-center.align-items-center.h-100
                .col-xl-10
                    .card.rounded-3.text-black(style="background-color: white; margin-top: 0px;")
                        .row.g-0
                            .col-lg-6
                                .card-body.p-md-5.mx-md-4
                                    .text-center
                                        img(src='images/logo.png', style='width: 185px;', alt='logo')
                                        h4.mt-1.mb-5.pb-1 Ünnepeljünk
                                            span.nice-text  együtt
                                            span !

                                    form(action="/login", method="POST").form-outline.mb-4.pt-1.mb-5.pb-1
                                        label.form-label(for='form2Example11')
                                            i.fas.fa-user.me-2
                                            | E-mail cím
                                        input(type="email", name="email", placeholder="pl.: pelda@janos.com", required="ture" value="teszt@teszt.teszt").form-control.rounded.mb-3

                                        label.form-label(for='form2Example22')
                                            i.fa.fa-lock.me-2
                                            | Jelszó
                                        input(type="password", name="password", placeholder="*******", required="ture" value="asdasd").form-control.rounded.mb-3

                                        input(type="submit", name="submit" value="Bejelentkezés").btn.btn-primary.gradient-custom-2.gomb
                                        br
                                        br
                                        a(href="/login").small Bejelentkezés
                                        br
                                        a(href="/register").small Még nincs fiókod?

                            .col-lg-6.d-flex.align-items-center
                                img.loginpic(src='images/kep.png')
            
    div(style="margin-bottom:500px;")
