extends layout 

block content
    main.section-white
        h1.fw-bold
            i.fas.fa-calendar.me-2
            | Eseményeim
        hr

        if events
            .text-center
                for event in events
                    include part_event
        else  
            p(style="font-style: italic;").text-muted Még nincs saját eseményed!


    div(style="margin-bottom:500px;")
