extend layout

block styles
    link(href='/css/form.css?v=1', rel='stylesheet', type='text/css')

block content
    section.h-100
        .container.py-5.h-100
            .row.d-flex.justify-content-center.align-items-center.h-100
                .col-xl-10
                    .card.rounded-3.text-black(style="background-color: white; margin-top: 0px;")
                        .row.g-0
                            .col-lg-6
                                .card-body.p-md-5.mx-md-4
                                    .text-center
                                        img(src='images/logo.png', style='width: 185px;', alt='logo')
                                        h4.mt-1.mb-5.pb-1 Új jelszó
                                            span.nice-text  megadása
                                            span !

                                    form(action="/new_password", method="POST").form-outline.mb-4.pt-1.mb-5.pb-1
                                        label.form-label(for='form2Example11')
                                            i.fas.fa-lock.me-2
                                            | Jelszó
                                        input(type="password", name="password", placeholder="*******", required="true" value="asdasd").form-control.rounded.mb-3

                                        label.form-label(for='form2Example22')
                                            i.fa.fa-lock.me-2
                                            | Jelszó újra
                                        input(type="password", name="password_again", placeholder="*******", required="true" value="asdasd").form-control.rounded.mb-3
                                        
                                        input(type="submit", name="submit" value="Új jelszó létrehozása").btn.btn-primary.gradient-custom-2.gomb
                                        br
                                        br
                                        a(href="/login").small Bejelentkezés
                                        br
                                        a(href="/register").small Még nincs fiókod?


                            .col-lg-6.d-flex.align-items-center
                                img.loginpic(src='images/kep.png')
            
    div(style="margin-bottom:500px;")
