li.comment-body
    .row 
        .col-sm 
            a(href="/user/" + comment.user_id + "/s")= comment.user_name
            p= comment.text
        //.col-sm-2
            - var d = new Date();
            p=
