extend layout

block scripts 
    script(src="/js/avatar.js?v=1", type="text/javascript")

block content
    section.h-100
        .container.py-5.h-100
            .row.d-flex.justify-content-center.align-items-center.h-100
                .col-xl-10
                    .card.rounded-3.text-black(style="background-color: white; margin-top: 0px;")
                        .row.g-0
                            .col-lg-6
                                .card-body.p-md-5.mx-md-4
                                    .text-center
                                        h4.mt-1 Még nem vagy tag? 
                                        h2.mb-5.nice-text
                                            b Regisztrálj!
                                    form(action="/register", method="POST").form-outline.mb-4.pt-1.mb-5.pb-1
                                        
                                        .text-center
                                            p.small.text-muted.mb-2 Válaszd ki a profilképed
                                            include part_avatar_choice
                                        br

                                        label.form-label
                                            i.fas.fa-user.me-2
                                            | Teljes név
                                        input(type="text", name="name", placeholder="pl. Példa Péter", required="ture").form-control.rounded.mb-3
                                        
                                        label.form-label
                                            i.fas.fa-envelope.me-2
                                            | E-mail cím
                                        input(type="email", name="email", placeholder="pl. pelda@cim.com", required="ture").form-control.rounded.mb-3
                                        
                                        label.form-label
                                            i.fa.fa-lock.me-2
                                            | Jelszó
                                        input(type="password", name="password", placeholder="*******", required="ture").form-control.rounded.mb-3
                                        
                                        label.form-label
                                            i.fa.fa-lock.me-2
                                            | Jelszó ismét
                                        input(type="password", name="password_again", placeholder="*******", required="ture").form-control.rounded.mb-3
                                        
                                        label.form-label
                                            i.fa.fa-calendar.me-2
                                            | Születési dátum
                                        input(type="date", name="birthday", placeholder="Születésnap", required="ture").form-control.rounded.mb-3
                                        br
                                        a(href="/login").small Már van fiókod?
                                        br
                                        br
                                        .row
                                            input(type="submit", name="submit" value="Regisztrálok").btn.btn-primary.gradient-custom-2
                                        
                                        // <a class="text-muted" href="#!">Forgot password?</a>

                            .col-lg-6.d-flex.align-items-center
                                img.loginpic(src='images/kep.png')

    div(style="margin-bottom:500px;")
