extends layout 

block content
    section.section-white

        .row
            .col-sm-10
                h1.fw-bold
                    i.fas.fa-search.me-2
                    | A keresés eredménye
            .col-sm-2
                - var linkBack = "/search/" + result_type;
                a(href=linkBack).fw-bold
                    i.fas.fa-chevron-left.me-2
                    | Vissza a kereséshez

        hr

        ul(style="list-style: none;").text-center.mb-4
            for res in results

                if result_type == "event"
                    a(href=makeEventUrl(res), style="font-size: 20px;").fw-bold= res.name
                else
                    a(href=makeUserUrl(res) style="font-size: 20px;").fw-bold= res.name

                hr(style="width:230px; margin: auto;").mt-1.mb-3

    div(style="margin-bottom:500px;")
