extends layout 

block content
    section.section-white 
        h1.fw-bold
            i.fas.fa-search.me-2
            | Mire szeretnél keresni?
        hr

        .row.text-center
            .col-sm
                a(href="/search/user").btn.btn-primary.btn-box
                    i.fas.fa-users.me-2
                    span Felhasználókra
            .col-sm
                a(href="/search/event").btn.btn-primary.btn-box
                    i.fas.fa-calendar.me-2
                    span Eseményekre

    div(style="margin-bottom:500px;")
