extends layout 

block content
    section.section-white
        h1= view_user.name

        if user.id != view_user.id
            if status == "not_approved"
                form(action="/user/"+view_user.id+"/unreq" method="POST")
                    button(type="submit" name="submit").btn.btn-outline-danger
                        | Barátnak jelölés törlése
            else if status == "approved"
                form(action="/user/"+view_user.id+"/unfriend" method="POST")
                    button(type="submit" name="submit").btn.btn-outline-danger
                        | Barát törlése
                a(href="/chat/"+view_user.id).btn.btn-primary Üzenetek megnyitása
            else
                form(action="/user/"+view_user.id+"/friend" method="POST")
                    button(type="submit" name="submit").btn.btn-primary
                        | Barátnak jelölés

        br
        p= view_user.id
        br
        p= view_user.name
        br
        p= view_user.email
        
