
:root {
    --dark-color: #252627;
    --light-color: #FFF9FB;
    --link-color: rgb(109, 109, 199);
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
    color: var(--light-color);
    background-color: var(--dark-color);
}

a, input, button, .btn-link, .btn, textarea {
    border-radius: 1px !important;
    transition: all 0.3s ease-out;
}

a {
    color: rgb(82, 143, 193);
}

a,
.btn-link,
.text-link {
    outline: none !important;
}

a,
.btn-link {
    text-decoration: none !important;
    outline: none !important;
    transition: color 0.3s ease-out;
}

a:hover,
a:active,
a:after,
.btn-link:hover,
.btn-link:active,
.btn-link:after {
    color: var(--link-color);
    outline: none !important;
    transition: all 0.3s ease;
}

footer {
    left: 0;
    bottom: 0;
    clear: both;
    margin-top: 42px;
    position: relative;
    width: 100%;
    text-align: center;
}

.footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-list > li {
    margin-left: 5px;
    display: inline-block;
}

img {
    width: 10%;
}

.kecske{
    background: linear-gradient(to right, red, orange, yellow, green, blue, purple);
    color: black;
}

@media screen and (max-width: 1300px) {
 
    /* Mobilon az adott elem nem fog látszódni */
    .non-mobile {
        display: none !important;
        visibility: none !important;
    }

}
