@charset "UTF-8";

/*
Szinek:

https://coolors.co/141b41-306bac-6f9ceb-98b9f2-918ef4

*/

@font-face {
    font-family: "Roboto";
    src: url(../fonts/raw/Roboto-Regular.ttf) format("truetype"),
        url(../fonts/raw/Roboto-Bold.ttf) format("truetype");
}

:root {
    --icon-color: #cc7096;

    --dark-color: #252627;
    --light-color: #f9fffe;
    --text-color: #454545;

    --light-mid-color: #e1e5e6;
    --active-color: #98B9F2;

    --link-color: #306BAC;
    --link-hover-color: #141B41;

    --main-dark-color: #141B41;
    --main-dark-color-active: #306BAC;

    --secondary-dark-color: #6F9CEB;
    --secondary-dark-color-active: #98B9F2;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
    color: var(--text-color);
    /*background-color: var(--light-color);*/
    background: -moz-linear-gradient(180deg, rgba(20,27,65,0.9) 0%, rgba(48,107,172,0.9) 66%, rgba(111,156,235,0.9) 100%);
    background: -webkit-linear-gradient(180deg, rgba(20,27,65,0.9) 0%, rgba(48,107,172,0.9) 66%, rgba(111,156,235,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#141b41",endColorstr="#6f9ceb",GradientType=1);
    background: linear-gradient(180deg, rgba(20,27,65,0.9) 0%, rgba(48,107,172,0.9) 66%, rgba(111,156,235,0.9) 100%);
}

.nice-text {
    color: var(--icon-color);
    font-weight: bold;
}

.wrapper {
    position: relative;
}

.wrapper-content {
    position: relative;
    z-index: 100;
}

.wrapper-background {
    position: relative;
    z-index: -100;
}

.post-card {
    background-color: rgb(250, 250, 252);
    padding: 30px;
    box-shadow: 0px 0px 20px rgb(33, 33, 33, 0.1);
}

.btn-primary {
    color: white;
    background-color: var(--main-dark-color) !important;
    border-color: var(--main-dark-color) !important;
}

.btn-primary:active,
.btn-primary:hover {
    color: white;
    background-color: var(--main-dark-color-active) !important;
    border-color: var(--main-dark-color-active) !important;
}

.btn-outline-primary {
    color: black;
    border-color: var(--main-dark-color) !important;
}

.btn-outline-primary:active,
.btn-outline-primary:hover {
    color: white;
    background-color: var(--main-dark-color) !important;
    border-color: var(--main-dark-color-active) !important;
}

.btn-secondary {
    color: rgb(255, 255, 255) !important;
    background-color: var(--secondary-dark-color) !important;
    border-color: var(--secondary-dark-color) !important;
}

.btn-secondary:active,
.btn-secondary:hover {
    color: rgb(255, 255, 255) !important;
    background-color: var(--secondary-dark-color-active) !important;
    border-color: var(--secondary-dark-color-active) !important;
}

.alert.alert-warning {
    margin: 10px 100px 10px 100px;
    padding: 30px;
    color: black;
    background-color: #918EF4;
    border-color: #918EF4;
    box-shadow: 0px 0px 20px #918EF4;
    font-size: 20px;
}

a, input, button, .btn-link, .btn, textarea {
    border-radius: 1px !important;
    transition: all 0.3s ease-in;

    border-style: none !important; 
    border-color: transparent !important;
}

input, textarea {
    border-radius: 0px !important;
    box-shadow: 0px 0px 15px rgb(72, 72, 72, 0.2) !important;
    background-color: white;
    resize: none;
    height: auto;
}

a {
    color: var(--link-color);
}
.gomb {
    border-collapse: separate;
}

a,
.btn-link,
.text-link {
    outline: none !important;
}

a,
.btn-link {
    text-decoration: none !important;
    outline: none !important;
    transition: color 0.3s ease-out;
}

a:hover,
a:active,
a:after,
.btn-link:hover,
.btn-link:active,
.btn-link:after {
    color: var(--link-hover-color);
    outline: none !important;
}

.nav-link > i,
.nav-link {
    display: inline-block !important;
}

a.nav-link {
    color: var(--light-color);
}

a.nav-link::before,
a.nav-link::after,
a.nav-link:active,
a.nav-link:hover {
    color: var(--active-color) !important;
}

.logo-text {
    font-size: 25px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    left: 0;
    bottom: 0;
    margin-top: 100px;
    position: relative;
    text-align: center;
}

.footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-list > li {
    margin-left: 5px;
    display: inline-block;
}

img {
    width: 10%;
}

#notification-badge {
    color: white;
    background-color: rgb(229, 57, 57);
    margin-left: -5px;
    font-size: 8px;
}

section.section-white {
    margin: 30px 275px 30px 275px !important;
}

@media screen and (max-width: 1444px) {
    .nav-link {
        font-size: 15px !important;
    }

    section.section-white {
        margin: 30px 175px 30px 175px !important;
    }
}

@media screen and (max-width: 1300px) { 

    .alert.alert-warning {
        margin: 0px !important;
    }

    /* Mobilon az adott elem nem fog látszódni */
    .non-mobile {
        display: none !important;
        visibility: none !important;
    }

    .logo-text {
        font-size: 15px !important;
    }

}
.loginpic{
    width: 100%;
}
.borderalul{
    border-bottom: dotted;
}
.divfont {
    font-size: 20px;
}
.rolunkkep{
    width: 100%;
}

.avatarkep {
    border-radius: 0%;
    width: 30px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

  
.inlineblock{
    display: inline-block;
}

.footer-default {
    background-color: rgb(72, 124, 194) !important;
    border-color: rgb(72, 124, 194) !important;
    box-shadow: 0px -10px 25px rgba(72, 124, 194, 1);
}

.navbar-default {
    /*
    background-color: rgba(20,27,65,1) !important;
    border-color: rgba(20,27,65,1) !important;
    box-shadow: 0px 10px 10px rgba(20,27,65,1);
    */
    background-color: rgb(25, 34, 69) !important;
    border-color: rgb(25, 34, 69) !important;
    box-shadow: 0px 10px 25px rgba(25, 34, 69,1);
}
/*
.gradient-custom-1 {
    background: rgb(20,27,65);
    background: -moz-linear-gradient(180deg, rgba(20,27,65,1) 0%, rgba(48,107,172,1) 66%, rgba(111,156,235,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(20,27,65,1) 0%, rgba(48,107,172,1) 66%, rgba(111,156,235,1) 100%);
    background: linear-gradient(180deg, rgba(20,27,65,1) 0%, rgba(48,107,172,1) 66%, rgba(111,156,235,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#141b41",endColorstr="#6f9ceb",GradientType=1);
}
*/
.section-white, .card {
    background-color: #f9fcfff5;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgb(33, 33, 33, 0.4);
    margin: 30px 30px 30px 30px;
    padding: 30px 30px 30px 30px;
}

.horizontal-list {
    box-shadow: 0px 0px 30px #f9fcfff5 inset;
    overflow: auto;
    white-space: nowrap;
    padding: 42px;
    scrollbar-width: none;
}

.horizontal-list > li {
    display: inline;
    padding: 30px;
    margin: 25px 10px 10px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.399);
}

#avatar-box {
    margin: 0 auto;
    text-align: center;
    width: 100px;
    align-items: center;
    align-content: center;
}

#avatar {
    width: 100px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
}

.event-desc {
    font-size: 20px;
    padding: 10px;
}

.btn-box {
    width: 100%;
    height: 250px;
    font-weight: bold;
    font-size: 30px;

    display: flex;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.event-row {
    padding: 15px !important;
    color: var(--dark-color);
    transition: transform 1.1s;
}

.event-row::before,
.event-row::after,
.event-row:active,
.event-row:hover {
    transform: scale(1.05);
    transition-timing-function: ease-out;
}

.textareadetails {
    padding: 8px;
    font-size: 20px;
    border: solid 1px;
    border-radius: 4px;
  }


