@charset "UTF-8";

:root {
    --dark-color: #252627;
    --light-color: #FFF9FB;
    --active-color: #ffc5d9;
    --link-color: rgb(109, 109, 199);
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
    color: var(--dark-color);
    background-color: var(--light-color);
}

a, input, button, .btn-link, .btn, textarea {
    border-radius: 1px !important;
    transition: all 0.3s ease-out;
}

a {
    color: rgb(82, 143, 193);
}

a,
.btn-link,
.text-link {
    outline: none !important;
}

a,
.btn-link {
    text-decoration: none !important;
    outline: none !important;
    transition: color 0.3s ease-out;
}

a:hover,
a:active,
a:after,
.btn-link:hover,
.btn-link:active,
.btn-link:after {
    color: var(--link-color);
    outline: none !important;
    transition: all 0.3s ease;
}

a.nav-link {
    color: var(--light-color) !important;
}

a.nav-link::before,
a.nav-link::after,
a.nav-link:active,
a.nav-link:hover {
    color: var(--active-color) !important;
}

i.fas,
i.fab,
i.far {
    margin: 0 !important;
    white-space: nowrap !important;
}

.logo-text {
    font-size: 25px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    left: 0;
    bottom: 0;
    clear: both;
    margin-top: 500px;
    position: relative;
    width: 100%;
    text-align: center;
}

.footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-list > li {
    margin-left: 5px;
    display: inline-block;
}

img {
    width: 10%;
}

#notification-badge {
    color: white;
    background-color: red;
    margin-left: 5px;
    font-size: 8px;
}

@media screen and (max-width: 1300px) {
 
    /* Mobilon az adott elem nem fog látszódni */
    .non-mobile {
        display: none !important;
        visibility: none !important;
    }

}
.loginpic{
    width: 100%;
}
.rolunkkep{
    width: 100%;
}
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, blue, purple,red);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, blue, purple,red);
}
.felkover{
    font-weight: bold;
}
.feher{
    color: white;
}
.gradient-custom-1 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, red, purple, blue);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, red, purple, blue);
}
    
@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}